In [1]:
#pip install beautifulsoup4
#pip install pandas

In [2]:
from bs4 import BeautifulSoup
import urllib.request
import requests
import pandas as pd

In [3]:
#call to the webpage and take all the HTML content
r = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(r.content, 'html.parser')
soup.title

In [4]:
#find the table 
data = []
table = soup.find('table',{'class':'wikitable sortable'})

In [5]:
#Take the rows and columns of the table 
table_body = table.find('tbody')
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [6]:
#Convert the data into the pandas Data Frame 
df=pd.DataFrame(data)
df.columns = ['Postcode','Borough','Neighbourhood']

In [7]:
#Drop the first row  
df.drop(index=0)

    Postcode           Borough          Neighbourhood
1        M1A      Not assigned           Not assigned
2        M2A      Not assigned           Not assigned
3        M3A        North York              Parkwoods
4        M4A        North York       Victoria Village
5        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [8]:
#Drop all elements "not assigned"  
df=df[df['Borough'] != 'Not assigned']

In [9]:
#Group the elements with the same postcode
df1=df.groupby('Postcode').agg(lambda x: x.tolist())

In [10]:
#Shape the dataframe
df1.shape

(103, 2)

In [11]:
df1.reset_index()

,Postcode,Borough,Neighbourhood
0,M1B,"[Scarborough, Scarborough]","[Rouge, Malvern]"
1,M1C,"[Scarborough, Scarborough, Scarborough]","[Highland Creek, Rouge Hill, Port Union]"
2,M1E,"[Scarborough, Scarborough, Scarborough]","[Guildwood, Morningside, West Hill]"
3,M1G,[Scarborough],[Woburn]
4,M1H,[Scarborough],[Cedarbrae]
...,...,...,...
98,M9N,[York],[Weston]
99,M9P,[Etobicoke],[Westmount]
100,M9R,"[Etobicoke, Etobicoke, Etobicoke, Etobicoke]","[Kingsview Village, Martin Grove Gardens, Rich..."
101,M9V,"[Etobicoke, Etobicoke, Etobicoke, Etobicoke, E...","[Albion Gardens, Beaumond Heights, Humbergate,..."
102,M9W,[Etobicoke],[Northwest]

In [12]:
data = pd.read_csv("/Users/AritzIza/Downloads/Geospatial_Coordinates.csv")

In [13]:
data.rename(columns={'Postal Code':'Postcode'}, inplace=True)

In [14]:
df1.merge(data, on='Postcode', how='left')

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,"[Scarborough, Scarborough]","[Rouge, Malvern]",43.806686,-79.194353
1,M1C,"[Scarborough, Scarborough, Scarborough]","[Highland Creek, Rouge Hill, Port Union]",43.784535,-79.160497
2,M1E,"[Scarborough, Scarborough, Scarborough]","[Guildwood, Morningside, West Hill]",43.763573,-79.188711
3,M1G,[Scarborough],[Woburn],43.770992,-79.216917
4,M1H,[Scarborough],[Cedarbrae],43.773136,-79.239476
...,...,...,...,...,...
98,M9N,[York],[Weston],43.706876,-79.518188
99,M9P,[Etobicoke],[Westmount],43.696319,-79.532242
100,M9R,"[Etobicoke, Etobicoke, Etobicoke, Etobicoke]","[Kingsview Village, Martin Grove Gardens, Rich...",43.688905,-79.554724
101,M9V,"[Etobicoke, Etobicoke, Etobicoke, Etobicoke, E...","[Albion Gardens, Beaumond Heights, Humbergate,...",43.739416,-79.588437
102,M9W,[Etobicoke],[Northwest],43.706748,-79.594054